.sidebar-close-hidden {
    display: none;
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    top: -5px;
    right: 10px;
}

.sidebar-large {
    position: relative;
    height: calc(100vh -  3.8rem);
}

.sidebar-size {
    width: 25%;
}

@media (max-width: 991.98px) {
    .sidebar-hidden {
        transform: translateX(-1200px);
        width: 40%;
        z-index: 5;
    }

    .sidebar-size-md {
        width: 100%;
    }

    .sidebar-adaptive-param {
        position: fixed;
        height: 100vh;
        top: 0;
    }

    .sidebar-close-show {
        display: inline;
    }

    .flex-direction-column-md {
        flex-direction: column-reverse;
    }
}

.sidebar-show {
    transform: translateX(0px);
}



