.account {
    background: transparent;
    border: none;
    outline: none;
    color: #198754;
    position: relative;
    cursor: pointer;
}

.account__dropdown {
    position: absolute;
    left: 25%;
    top: 120%;
    z-index: 50;
}

.account:focus {
    outline: none;
}

.account:hover {
    color: #14c774;
    text-decoration: underline;
}

@media (max-width: 991.98px) {
    .nav-md-center {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .nav-short {
        margin: 0 auto;
        margin-top: 1.2rem;
        width: 100%;
    }
}

@media (min-width: 992px) { 
    .nav-mr-20px {
        margin-right: 20px;
    }

    .nav-long {
        width: 25%;
    }

    .mar-left {
        margin-left: 1.2rem;
    }

}

